* { margin: 0; padding: 0; }
html { height: 100%; }

body
{ 
	font-size: 62.5%; 
	padding-bottom: 65px; 
}

td{ /*sthles*/
	font-family: "arial sans serif"; 
	color: #404040; 
	font-size:9pt;
	margin-bottom: 10px; 
	padding:5px;
	text-align:right;
	padding-right:10px;
	
}
tr:nth-child(1) {font-weight:bold;} /*1h grammh pinaka understanding..*/


table	/*oloklhros o pinakas*/
{
	border:none; 
	padding-top:50px;
	table-layout:fixed; 
	margin:12px 0px 0px -178px; 
	float:left;
}

.lang{display:none;}
.pp{display:none;}
.logo{margin:-25px 0px 0px -84px; float:left;}
.euro
{
	font-family: "arial sans serif"; 
	text-align:right;color:#404040;  
	border-right:1px solid; 
	padding:10px; 
	font-size:19px;
}

.pi{font-size:15px;font-weight:bold;}
.des{font-size:15px;font-weight:bold;}
.edu{font-size:15px;font-weight:bold;padding-top:19px; }
.per{font-size:15px;font-weight:bold;}
.eng{font-size:15px;font-weight:bold;}
.ger{font-size:15px;font-weight:bold;}
.add{font-size:15px;font-weight:bold;}
.ann{font-size:15px;font-weight:bold;}
.wex{font-size:15px;font-weight:bold;}

td:nth-child(even) {text-align:left;}
td:nth-child(odd) {text-align:right;}

.aaa
{
	position:absolute; 
	border:1px solid; 
	float:left;  
	margin:-8px 0px 0px 0px;
}

.mobile{border-right:1px solid;}
.Kat{font-weight:bold;}
.cv{display:none;}
.about{display:none;}

h4{position:relative; margin:1500px 0px 0px 0px;}

small {display:none;}


a { color: #656565; text-decoration: none;}
a:hover { text-decoration: underline; }


#w 
{ 
	margin: 0px 50px; 
	padding: 20px 40px; 
	padding-top: 35px; 
	background: #fff; 
	max-width: 900px; 
	border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; 
}

#photo img { display:none;}

#skills-left { display: block; float: left; margin-right: 30px; }
#skills-right { display: block; float: left;}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



@media only screen and (min-width: 741px) {
table{border-collapse:collapse;}
td:nth-child(1) {color: #404040; border-right:1px solid;}
}

@media only screen and (max-width: 740px) {
table{border-collapse:collapse;}
td:nth-child(1) {text-align:center;}
td:nth-child(2) {text-align:center;}
td:nth-child(3) {text-align:center;}
td:nth-child(4) {text-align:center;}
.euro{text-align:center;color:#404040; border-top:none; border-right:none;}
.aaa{display:none;}
.mobile{border-right:none;}
.eurolevel{display:none;}
.self{display:none;}
.eng{display:none;}
.ger{display:none;}


#w {padding: 20px 15px;}
	
	td{
		display:block; 
		text-align: center; 
	}
}


@media only screen and (max-width: 570px) {
	#skills-left, skills-right { margin-bottom: 15px; }
}

@media only screen and (max-width: 480px) {
	#w { margin: 0 20px; }
}

@media only screen and (max-width: 320px) {
	#w { margin: 0 10px; }
}





